footer {
    background-image: url(../images/footer3.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    border-top: solid rgb(65, 65, 65) 2.5px;
    color: white;

    .tituloRedes {
        padding-top: .3rem;
        display: flex;
        justify-content: center;

        h5 {
            font-size:small;
        }
    }

    .redes {
        padding-bottom: .3rem;
        border-bottom: solid rgb(43, 43, 43) 2px;
        font-size: 180%;
        display: flex;
        justify-content: center;

        .redes__lista {
            margin-bottom: 0;
            padding-block: 1rem;
            padding-left: 0;
            display: flex;
            list-style-type: none;
            
            li {
                a {
                    i {
                        color: white;
                    }
                }
            }

            /* .map-instagram,
            .map-twitter,
            .map-youtube,
            .map-whatsapp {
                padding-inline: .8rem;
            } Comentado para no perderlo en la entrega de SASS 2*/

            /* MAP */
            @each $redSocial, $color in $redesSociales {
                .map-#{$redSocial} {
                    background-color: $color;
                }
            }
            /* MAP */

            /* MAP-GET */
            .map-instagram {
                background-color: map-get($redesSociales, instagram);
            }
            /* MAP-GET */

            /* EXTEND */
            .map-whatsapp {

                &:hover {
                    outline: $detailsColor solid 3px;
                }
            }

            .map-instagram,
            .map-twitter,
            .map-youtube {
                @extend .map-whatsapp;

                &:hover {
                    outline: white solid 5px;
                }
                border-radius: 50%;
            }
            /* EXTEND */

            /* MIXIN */
            @mixin paddingmargin($padinline, $padblock, $marinline) {
                padding-inline: $padinline;
                padding-block: $padblock;
                margin-inline: $marinline;
            }
            .map-instagram,
            .map-whatsapp,
            .map-twitter,
            .map-youtube {
                @include paddingmargin(1.8rem, 1rem, 1rem)
            }
            /* MIXIN */
        }
    }

    .footer__copy {
        padding-block: .3rem;
        text-align: center;
        text-shadow: 2px 2px black;

        p {
            margin-bottom: 0;
        }
    }
}