.headerP {
    padding-bottom: 7.343rem;
}

main {
    .titulo3{
        padding-block: .8rem;
        padding-inline: 1rem;
        background-image: url(../images/titulos7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        font-family: $fontTitle;
        font-size: 400%;
        letter-spacing: 2px;
        text-align: center; 
    }
}