@media screen and (max-width: 600px) {
    header {
        .navegacionIndex {
            width: 100%;
            padding-inline: 1.6rem;
            padding-top: 1.6rem;
            padding-bottom: 2.1rem;
            margin-bottom: .1rem;
            background-color: rgb(0, 0, 0);

            .nav__label {
                display: block;
                cursor: pointer;
            }

            .nav__input:checked + .nav__menu {
                    background-color: #a850ff;
                    clip-path: circle(100% at center);
                }
            }

            .nav__menu {
                padding-bottom: 7rem;
                position: fixed;
                top: 7.6rem;
                bottom: 0;
                width: 100%;
                height: 90vh;
                padding-left: 0;
                left: 0;
                background-color: #a850ff;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                clip-path: circle(0 at center);
                transition: clip-path .7s ease-in-out;
            }
        }
    

    main {
        .video {
            margin-top: 7.6rem;
        }
    }

    div {
        .titulo {
            padding-block: .4rem;
            font-size: 350%;
        }
    }

    section {
        .concretados {
            padding-top: 2rem;
            padding-bottom: 4rem;

            .row-index {
                .card-index {
                    width: 70vw;
                }
            }
        }

        .marcas {
            margin-left: 0;
            height: 50vh;
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
            "ryzen gigabyte"
            "geforce intel"
            "razer hyperx"
            "redragon amd";

            .ryzen {
                grid-area: ryzen;
                width: max-content;
            }
            .gigabyte {
                grid-area: gigabyte;
                width: max-content;
            }
            .geforce {
                grid-area: geforce;
                width: max-content;
            }
            .intel {
                grid-area: intel;
                width: max-content;
            }
            .razer {
                grid-area: razer;
                width: max-content;
            }
            .hyperx {
                grid-area: hyperx;
                width: max-content;
            }
            .redragon {
                grid-area: redragon;
                width: max-content;
            }
            .amd {
                grid-area: amd;
                width: max-content;
            }
        }
        .preFooter {
            padding-bottom: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .ubicacion {
                .ubicacion__mapa {
                    height: 30vh;
                    width: 70vw;
                }
            }

            .newsletter {
                width: 80vw;
                margin-left: -2%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                
                .newsletter__datos{
                    .formIndex {
                        display: flex;
                        flex-direction: column;
                        
                        .input__group {
                            .input {
                                &:focus ~ label,
                                &:valid ~ label {
                                    background-color: #6C009E;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    
    /*** NAV de las 4 páginas (no index) ***/

    header {
        .navegacion {
            width: 100%;
            padding: 1.6rem;
            margin-bottom: .1rem;
            background-color: rgb(0, 0, 0);

            .nav__label {
                display: block;
                cursor: pointer;
            }

            .nav__input:checked + .nav__menu {
                background-color: #a850ff;
                clip-path: circle(100% at center);
            }

            .nav__menu {
                padding-bottom: 7rem;
                padding-left: 0;
            }   
        }
    }


    /*** PRODUCTOS ***/

    .mainProductos {
        .titulo2 {
            font-size: 300%;
        }
    }

    section {
        .displaySubTitulo {
            .subTitulo {
                width: 45vw;
                font-size: 200%;
            }
        }

        .productos1 {
            .mother1,
            .mother2 {
                img {
                width: 50vw;
                }
            }
        }
    }

    /*** PCs ARMADAS ***/ 

    main {
        .titulo3 {
            margin-top: .313rem;
            padding-block: .4rem;
            font-size: 300%;
        }
    }

    section {
        .pc {
            display: flex;
            flex-direction: column;

            .pc__caja {
                width: 70vw;

                img {
                    width: 65vw;
                }
            }
        }
    }

    /*** SOBRE NOSOTROS ***/ 

    .sobreNosotros {
        .sobreNosotros-container {
            margin-top: -7rem;
            margin-bottom: -14rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.2rem;

            .card-sobreNosotros {
                width: 70vw;

                .tituloCard {
                    font-size: 130%;
                }

                .card-text {
                    font-size: 80%;
                }
            }
        }
    }
}